# Dependencies
* Installing `pyarrow` is needed for parquet support

In [ ]:
! pip install pyarrow

In [66]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import os
import glob

# Reading Data
* Since our data is in parquet format, we need to loop over our data to have them in dataframes

    1. Extracting Table Names using `os.listdir`
    
    2. Creating a dictionary with keys for each table and appending table parquet files as a list for each key

    3. Reading each parquet file for each table and creating a dictionary for each dataframe with table names to concatenate them afterwards

    4. Concatenating each dataframe value and creating a dataframe with relevant name for the table and saving the dataframe as a csv file to be able to use later and share with the team

In [67]:
BASE_DIR = 'tennis_data_20231212/raw/'
folders = os.listdir(BASE_DIR)
folders

['raw_match_parquet',
 'raw_odds_parquet',
 'raw_point_by_point_parquet',
 'raw_statistics_parquet',
 'raw_tennis_power_parquet',
 'raw_votes_parquet']

## 1. Extracting Table Names using `os.listdir` and converting it to `set()` so we can have unique names

In [68]:
table_list = []
for folder in folders:
    files = os.listdir(BASE_DIR + folder)
    for file in files:
        name = file.split('.')[0]
        table_name = name.split('_')
        table_name = '_'.join(table_name[:-1])
        table_list.append(table_name)
        
table_set = set(table_list)
table_set

{'away_team',
 'away_team_score',
 'event',
 'home_team',
 'home_team_score',
 'odds',
 'pbp',
 'power',
 'round',
 'season',
 'statistics',
 'time',
 'tournament',
 'venue',
 'votes'}

## 2. Creating a dictionary with keys for each table and appending table parquet files as a list for each key

In [69]:
table_dict = {name: [] for name in list(table_set)}
    
for folder in folders:
    files = os.listdir(BASE_DIR + folder)
    for file in files:
        table_name = file.split('.')[0].split('_')
        table_name = '_'.join(table_name[:-1])
        table_dict[table_name].append(BASE_DIR + folder + '/' + file)

## 3. Reading each parquet file for each table and creating a dictionary for each dataframe with table names to concatenate them afterwards

In [72]:
dataframes_dict = {name: [] for name in list(table_set)}
for key in table_dict:
    for file in table_dict[key]:
        dataframes_dict[key].append(pd.read_parquet(file))

In [73]:
dataframes_dict['away_team']

[   match_id        name                    slug gender  user_count residence  \
 0  11673958  Tirante T.  tirante-thiago-agustin      M        1519  La Plata

             birthplace  height  weight         plays turned_pro  \
 0  La Plata, Argentina    1.85      78  right-handed       None

    current_prize  total_prize  player_id  current_rank name_code    country  \
 0         249335       430793     221515           123       TIR  Argentina

                  full_name
 0  Tirante, Thiago Agustin  ,
    match_id      name           slug gender  user_count residence birthplace  \
 0  11673962  Heide G.  heide-gustavo      M        1177      None  Sao Paulo

    height weight         plays turned_pro  current_prize  total_prize  \
 0    1.88   None  right-handed       None          36929        87230

    player_id  current_rank name_code country       full_name
 0     302582           247       HEI  Brazil  Heide, Gustavo  ,
    match_id              name                 slug gender  user_count  \
 0  11673963  Jorda Sanchis D.  jorda-sanchis-david      M         344

   residence        birthplace  height  weight         plays turned_pro  \
 0     Spain  Barcelona, Spain    1.98      83  right-handed       None

    current_prize  total_prize  player_id  current_rank name_code country  \
 0          27028        72338      57155           331       JOR   Spain

               full_name
 0  Jorda Sanchis, David  ,
    match_id             name                slug gender  user_count  \
 0  11673993  Roca Batalla O.  roca-batalla-oriol      M         707

                   residence birthplace  height  weight         plays  \
 0  Santa Coloma de Gramenet  Barcelona    1.75      75  right-handed

   turned_pro  current_prize  total_prize  player_id  current_rank name_code  \
 0       None          53418       317311      51100           213       ROC

   country            full_name
 0   Spain  Roca Batalla, Oriol  ,
    match_id         name             slug gender  user_count        residence  \
 0  11674000  Crawford O.  crawford-oliver      M         442  Spartanburg, SC

              birthplace  height  weight         plays turned_pro  \
 0  Spartanburg, SC, USA     1.8      84  right-handed       None

    current_prize  total_prize  player_id  current_rank name_code country  \
 0          40191       113045     213057           215       CRA     USA

           full_name
 0  Crawford, Oliver  ,
    match_id         name           slug gender  user_count  \
 0  11674008  Peniston R.  peniston-ryan      M        1325

                   residence              birthplace  height  weight  \
 0  Southend-on-sea, England  Southend-on-sea, Essex     1.8      75

          plays turned_pro  current_prize  total_prize  player_id  \
 0  left-handed       None         182028       509723      91240

    current_rank name_code         country       full_name
 0           179       PEN  United Kingdom  Peniston, Ryan  ,
    match_id         name                slug gender  user_count residence  \
 0  11674011  Shelbayh A.  shelbayh-abedallah      M        1411      None

   birthplace  height weight plays turned_pro  current_prize  total_prize  \
 0      Amman     1.8   None  None       None         104721       128500

    player_id  current_rank name_code country            full_name
 0     307383           187       SHE  Jordan  Shelbayh, Abedallah  ,
    match_id       name          slug gender  user_count       residence  \
 0  11674026  Machač T.  machac-tomas      M        2381  Czech republic

                birthplace  height  weight         plays turned_pro  \
 0  Beroun, Czech Republic    1.83      73  right-handed       None

    current_prize  total_prize  player_id  current_rank name_code  \
 0         358816       873971     238300            78       MAC

           country      full_name
 0  Czech Republic  Machač, Tomáš  ,
    match_id       name         slug gender  user_count residence  \
 0  11674032  Draper J.  draper-jack      M        5892    London

         birthplace  height  weight        plays turned_pro  current_prize  \
 0  Sutton, England    1.93      75  left-handed       2018         614923

    total_prize  player_id  current_rank name_code         country  \
 0      1519143     258749            61       DRA  United Kingdom

       full_name
 0  Draper, Jack  ,
    match_id           name             slug gender  user_count residence  \
 0  11674034  Van Assche L.  van-assche-luca      M        3546      None

           birthplace  height weight         plays turned_pro  current_prize  \
 0  Woluwe St Lambert    1.78   None  right-handed       None         528705

    total_prize  player_id  current_rank name_code country         full_name
 0       662296     335102            90       VAN  France  Van Assche, Luca  ,
    match_id       name            slug gender  user_count  \
 0  11674074  Pegula J.  pegula-jessica      F       11721

              residence        birthplace  height  weight         plays  \
 0  Boca Raton, FL, USA  Buffalo, NY, USA     1.7      70  right-handed

   turned_pro  current_prize  total_prize  player_id  current_rank name_code  \
 0       2012        4973242     10319372      44834             5       PEG

   country        full_name
 0     USA  Pegula, Jessica  ,
    match_id       name              slug gender  user_count         residence  \
 0  11674103  Bublik A.  bublik-alexander      M        7108  Gatchina, Russia

          birthplace  height  weight         plays turned_pro  current_prize  \
 0  Gatchina, Russia    1.96      76  right-handed       2014        1308797

    total_prize  player_id  current_rank name_code     country  \
 0      4912703     163480            32       BUB  Kazakhstan

            full_name
 0  Bublik, Alexander  ,
    match_id          name             slug gender  user_count residence  \
 0  11674105  Međedović H.  mededovic-hamad      M        3889      None

            birthplace  height weight         plays turned_pro  current_prize  \
 0  Novi Pazar, Serbia    1.88   None  right-handed       None         279579

    total_prize  player_id  current_rank name_code country         full_name
 0       346548     321404           113       MED  Serbia  Međedović, Hamad  ,
    match_id          name             slug gender  user_count residence  \
 0  11674110  Međedović H.  mededovic-hamad      M        3889      None

            birthplace  height weight         plays turned_pro  current_prize  \
 0  Novi Pazar, Serbia    1.88   None  right-handed       None         279579

    total_prize  player_id  current_rank name_code country         full_name
 0       346548     321404           113       MED  Serbia  Međedović, Hamad  ,
    match_id          name              slug gender  user_count  \
 0  11674111  Mannarino A.  mannarino-adrian      M        5504

          residence                      birthplace  height  weight  \
 0  Valletta, Malta  Soisy-sous-Montmorency, France     1.8      79

          plays turned_pro  current_prize  total_prize  player_id  \
 0  left-handed       2004        1395263      9479850      15894

    current_rank name_code country          full_name
 0            22       MAN  France  Mannarino, Adrian  ,
    match_id         name            slug gender  user_count        residence  \
 0  11674112  Rodionov J.  rodionov-jurij      M        2382  Matzen, Austria

            birthplace  height  weight        plays turned_pro  current_prize  \
 0  Nuremberg, Germany    1.91      86  left-handed       2017         276484

    total_prize  player_id  current_rank name_code  country        full_name
 0       834004     200159           115       ROD  Austria  Rodionov, Jurij  ,
    match_id      name             slug gender  user_count  \
 0  11674113  Ofner S.  ofner-sebastian      M        3736

                residence                 birthplace  height  weight  \
 0  Sankt Marein, Austria  Bruck an der Mur, Austria    1.91      81

           plays turned_pro  current_prize  total_prize  player_id  \
 0  right-handed       2014         670606      1465668      83397

    current_rank name_code  country         full_name
 0            43       OFN  Austria  Ofner, Sebastian  ,
    match_id      name             slug gender  user_count           residence  \
 0  11674114  Korda S.  korda-sebastian      M        7469  Bradenton, FL, USA

            birthplace  height  weight         plays turned_pro  current_prize  \
 0  Bradenton, FL, USA    1.96      75  right-handed       None        1288192

    total_prize  player_id  current_rank name_code country         full_name
 0      3552528     195840            24       KOR     USA  Korda, Sebastian  ,
    match_id         name             slug gender  user_count  \
 0  11675440  Medvedev D.  medvedev-daniil      M       63350

              residence      birthplace  height  weight         plays  \
 0  Monte Carlo, Monaco  Moscow, Russia    1.98      83  right-handed

   turned_pro  current_prize  total_prize  player_id  current_rank name_code  \
 0       2014        7699733     29866718     163504             3       MED

   country         full_name
 0  Russia  Medvedev, Daniil  ,
    match_id      name           slug gender  user_count        residence  \
 0  11675443  Jarry N.  jarry-nicolas      M        9517  Santiago, Chile

         birthplace  height  weight         plays turned_pro  current_prize  \
 0  Santiago, Chile    1.98      90  right-handed       2014        1431219

    total_prize  player_id  current_rank name_code country       full_name
 0      3478135      89632            19       JAR   Chile  Jarry, Nicolas  ,
    match_id        name             slug gender  user_count residence  \
 0  11675444  Musetti L.  musetti-lorenzo      M       22366   Carrara

        birthplace  height  weight         plays turned_pro  current_prize  \
 0  Carrara, Italy    1.85      75  right-handed       2019        1598590

    total_prize  player_id  current_rank name_code country         full_name
 0      3901074     261015            27       MUS   Italy  Musetti, Lorenzo  ,
    match_id       name           slug gender  user_count            residence  \
 0  11675445  Sinner J.  sinner-jannik      M       64879  Monte Carlo, Monaco

            birthplace  height  weight         plays turned_pro  current_prize  \
 0  San Candido, Italy    1.88      68  right-handed       2018        6915316

    total_prize  player_id  current_rank name_code country       full_name
 0     12447135     206570             4       SIN   Italy  Sinner, Jannik  ,
    match_id         name             slug gender  user_count  \
 0  11675446  Dimitrov G.  dimitrov-grigor      M       22646

              residence         birthplace  height  weight         plays  \
 0  Monte Carlo, Monaco  Haskovo, Bulgaria    1.91      81  right-handed

   turned_pro  current_prize  total_prize  player_id  current_rank name_code  \
 0       2008        2252614     20583691      23581            14       DIM

     country         full_name
 0  Bulgaria  Dimitrov, Grigor  ,
    match_id     name         slug gender  user_count     residence  \
 0  11675447  Ruud C.  ruud-casper      M       29533  Oslo, Norway

      birthplace  height  weight         plays turned_pro  current_prize  \
 0  Oslo, Norway    1.83      77  right-handed       2015        2601211

    total_prize  player_id  current_rank name_code country     full_name
 0     13500643     119248            11       RUU  Norway  Ruud, Casper  ,
    match_id     name         slug gender  user_count     residence  \
 0  11675448  Ruud C.  ruud-casper      M       29533  Oslo, Norway

      birthplace  height  weight         plays turned_pro  current_prize  \
 0  Oslo, Norway    1.83      77  right-handed       2015        2601211

    total_prize  player_id  current_rank name_code country     full_name
 0     13500643     119248            11       RUU  Norway  Ruud, Casper  ,
    match_id                  name                         slug gender  \
 0  11675449  Davidovich Fokina A.  davidovich-fokina-alejandro      M

    user_count   residence     birthplace  height  weight         plays  \
 0        8793  Fuengirola  Malaga, Spain    1.83      80  right-handed

   turned_pro  current_prize  total_prize  player_id  current_rank name_code  \
 0       2019        1509026      4476749     157456            26       DAV

   country                     full_name
 0   Spain  Davidovich Fokina, Alejandro  ,
    match_id       name           slug gender  user_count            residence  \
 0  11675450  Sinner J.  sinner-jannik      M       64879  Monte Carlo, Monaco

            birthplace  height  weight         plays turned_pro  current_prize  \
 0  San Candido, Italy    1.88      68  right-handed       2018        6915316

    total_prize  player_id  current_rank name_code country       full_name
 0     12447135     206570             4       SIN   Italy  Sinner, Jannik  ,
    match_id        name           slug gender  user_count  \
 0  11686269  Saville D.  saville-daria      F        1505

               residence      birthplace  height  weight         plays  \
 0  Melbourne, Australia  Moscow, Russia    1.66      61  right-handed

   turned_pro  current_prize  total_prize  player_id  current_rank name_code  \
 0       2010         259375      4344200      40994           204       SAV

      country       full_name
 0  Australia  Saville, Daria  ,
    match_id      name            slug gender  user_count            residence  \
 0  11686272  Brady J.  brady-jennifer      F        1750  Boca Raton, FL, USA

             birthplace  height  weight         plays turned_pro  \
 0  Harrisburg, PA, USA    1.78      68  right-handed       2015

    current_prize  total_prize  player_id  current_rank name_code country  \
 0         322052      4192598      52273           230       BRA     USA

          full_name
 0  Brady, Jennifer  ,
    match_id          name              slug gender  user_count     residence  \
 0  11686275  Ostapenko J.  ostapenko-jelena      F        8314  Riga, Latvia

      birthplace  height  weight         plays turned_pro  current_prize  \
 0  Riga, Latvia    1.77      68  right-handed       2012        1798842

    total_prize  player_id  current_rank name_code country          full_name
 0     11611607      64496            13       OST  Latvia  Ostapenko, Jelena  ,
    match_id          name                slug gender  user_count residence  \
 0  11686276  Samsonova L.  samsonova-liudmila      F        4833      None

            birthplace  height weight         plays turned_pro  current_prize  \
 0  Olenegorsk, Russia    1.82   None  right-handed       None        1873572

    total_prize  player_id  current_rank name_code country            full_name
 0      3646705     128584            16       SAM  Russia  Samsonova, Liudmila  ,
    match_id        name             slug gender  user_count residence  \
 0  11686281  Paolini J.  paolini-jasmine      F        5233      None

                          birthplace  height weight         plays turned_pro  \
 0  Castelnuovo di Garfagnana, Italy    1.63   None  right-handed       2012

    current_prize  total_prize  player_id  current_rank name_code country  \
 0         702123      2207834      69208            30       PAO   Italy

           full_name
 0  Paolini, Jasmine  ,
    match_id      name          slug gender  user_count      residence  \
 0  11688311  Smith K.  smith-keegan      M         330  San Diego, CA

        birthplace  height  weight         plays turned_pro  current_prize  \
 0  Wilmington, NC    1.98      93  right-handed       None          14237

    total_prize  player_id  current_rank name_code country      full_name
 0        79745     232059           591       SMI     USA  Smith, Keegan  ,
    match_id       name           slug gender  user_count residence birthplace  \
 0  11696863  Glinka D.  glinka-daniil      M         250      None    Tallinn

    height weight        plays turned_pro  current_prize  total_prize  \
 0    1.88   None  left-handed       None          12265        34997

    player_id  current_rank name_code  country       full_name
 0     210033           499       GLI  Estonia  Glinka, Daniil  ,
    match_id        name           slug gender  user_count       residence  \
 0  11697105  Linette M.  linette-magda      F       10931  Poznan, Poland

        birthplace  height  weight         plays turned_pro  current_prize  \
 0  Poznan, Poland    1.71      59  right-handed       2009        1538431

    total_prize  player_id  current_rank name_code country       full_name
 0      4998417      42289            24       LIN  Poland  Linette, Magda  ,
    match_id      name         slug gender  user_count  \
 0  11697107  Kenin S.  kenin-sofia      F        5194

                  residence      birthplace  height  weight         plays  \
 0  Pembroke Pines, FL, USA  Moscow, Russia     1.7      55  right-handed

   turned_pro  current_prize  total_prize  player_id  current_rank name_code  \
 0       2017         709965      7435794      91960            33       KEN

   country     full_name
 0     USA  Kenin, Sofia  ,
    match_id            name                 slug gender  user_count  \
 0  11697108  Haddad Maia B.  haddad-maia-beatriz      F       15466

                 residence         birthplace  height  weight        plays  \
 0  Rio de Janeiro, Brazil  Sao Paulo, Brazil    1.85      78  left-handed

   turned_pro  current_prize  total_prize  player_id  current_rank name_code  \
 0       2012        2382351      4452564      59702            11       HAD

   country             full_name
 0  Brazil  Haddad Maia, Beatriz  ,
    match_id         name            slug gender  user_count residence  \
 0  11697110  Rybakina E.  rybakina-elena      F       18975      None

        birthplace  height weight         plays turned_pro  current_prize  \
 0  Moscow, Russia    1.84   None  right-handed       2016        4577864

    total_prize  player_id  current_rank name_code     country        full_name
 0      9878663     186312             4       RYB  Kazakhstan  Rybakina, Elena  ,
    match_id        name           slug gender  user_count residence  \
 0  11697112  Nosková L.  noskova-linda      F        2930      None

                birthplace  height weight         plays turned_pro  \
 0  Vsetin, Czech Republic    1.79   None  right-handed       None

    current_prize  total_prize  player_id  current_rank name_code  \
 0         551923       780924     274049            41       NOS

           country       full_name
 0  Czech Republic  Noskova, Linda  ,
    match_id       name       slug gender  user_count residence  \
 0  11697113  Wang Xiy.  wang-xiyu      F        2448      None

                           birthplace  height weight        plays turned_pro  \
 0  Taixing, Jiang Su Province, China    1.82   None  left-handed       2018

    current_prize  total_prize  player_id  current_rank name_code country  \
 0         570334      1370247     223148            69       WAN   China

     full_name
 0  Wang, Xiyu  ,
    match_id          name                slug gender  user_count residence  \
 0  11697117  Samsonova L.  samsonova-liudmila      F        4833      None

            birthplace  height weight         plays turned_pro  current_prize  \
 0  Olenegorsk, Russia    1.82   None  right-handed       None        1873572

    total_prize  player_id  current_rank name_code country            full_name
 0      3646705     128584            16       SAM  Russia  Samsonova, Liudmila  ,
    match_id    name         slug gender  user_count                 residence  \
 0  11697118  Rus A.  rus-arantxa      F        2413  Monster, The Netherlands

                birthplace  height  weight        plays turned_pro  \

## 4. Concatenating each dataframe value and creating a dataframe with relevant name for the table and saving the dataframe as a csv file to be able to use later and share with the team

In [43]:
output_dir = 'tennis_csv/'
for key in dataframes_dict:
    dataframe_name = f'df_{key}'
    df = globals()[dataframe_name] = pd.concat(dataframes_dict[key], ignore_index=True)
    csv_file_name = f"{dataframe_name}.csv"
    file_path = os.path.join(output_dir, csv_file_name)
    df.to_csv(file_path, index=False)

C:\Users\arian\AppData\Local\Temp\ipykernel_22300\1441828325.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = globals()[dataframe_name] = pd.concat(dataframes_dict[key], ignore_index=True)

# Loading Data

***STEPS***
1. Loading all the dataframes from csv file

2. Cleaning Dataframes and Understanding what they present

In [44]:
INPUT_DIR = 'tennis_csv/'

## 1. Loading all the dataframes from csv file

In [48]:
for file in os.listdir(INPUT_DIR):
    df_name = file.split('.')[0] + '_csv'
    globals()[df_name] = pd.read_csv(INPUT_DIR + file)

### 1. MatchTournamentInfo

1. `match_id`
    * **Numerical**
    * Showing ID of the match and seems like all the tables relate to each other with this ID
    
2. `tournament_id`
    * **Numerical**
    * Showing ID of the tournament for each match. 
    * Has duplicate values that differ with match ID

3. `tournament_name`
    * **Categorical**
    * This column shows tournament name and it is combination of city and country shown like this : `City, Country`
    * This column has **55 Unique Values**
4. `tournament_slug`
    * **Categorical**
    * This column shows tournament name and it is combination of city and country shown like this : `city-country`
    * This column has **55 Unique Values**

5. `tournament_unique_id`
    * **Numerical**
    * All the values of this column is missing and **This column will be droped in the Cleaning Process**
6. `tournament_category_name`
    * **Categorical**
    * This column shows the category of the tournament
    * Has **5 Unique Values**
        * Challenger
        * WTA
        * ATP
        * ITF Men
        * ITF Women

7. `tournament_category_slug`
    * **Categorical**
    * This column shows the category of the tournament in slug meaning they are lower case and have no space
    * Has **5 Unique Values**
        * challenger
        * wta
        * atp
        * itf-men
        * itf-women

8. `user_count`
    * **Numerical**
    * This column shows how many users participated in the tournament
    * Some of the information about this column:
        * Mean : 223.56
        * Min : 2
        * Max : 3627
        * std : 711.36
        * Q1 : 7
        * Q3 : 19
        

9. `ground_type`
    * **Categorical**
    * This column shows what kind of ground the match was played on
    * Has **6 Unique Values**
        * Red clay
        * Hardcourt outdoor
        * Hardcourt indoor
        * Carpet indoor
        * nan
        * Synthetic outdoor
    * **Has 17 Missing Values that will be dropped**


10. `tennis_points`
    * **Numerical**
    * This column shows how many points were scored in this tournament
    * This column has **600 Missing Values** - *Not decided what to do with it*
    * Some of the information about this column:
        * Mean : 406.097561
        * Min : 75
        * Max : 1000
        * std : 412.441871
        * Q1 : 100
        * Q3 : 1000

***All the following columns only have **One** Value and **None** is Missing***

11. `has_event_player_statistics`

12. `crowd_sourcing_enabled`

13. `has_performance_graph_feature`

14. `display_inverse_home_away_teams`

15. `priority`

16. `competition_type`

In [61]:
df_tournament_csv.ground_type.unique()

array(['Red clay', 'Hardcourt outdoor', 'Hardcourt indoor',
       'Carpet indoor', nan, 'Synthetic outdoor'], dtype=object)

In [74]:
df_tournament_csv.head()

,match_id,tournament_id,tournament_name,tournament_slug,tournament_unique_id,tournament_category_name,tournament_category_slug,user_count,ground_type,tennis_points,has_event_player_statistics,crowd_sourcing_enabled,has_performance_graph_feature,display_inverse_home_away_teams,priority,competition_type
0,11673958,121441,"Bogota, Colombia",bogota-colombia,NaN,Challenger,challenger,125,Red clay,125.0,False,False,False,False,0,2
1,11673962,121441,"Bogota, Colombia",bogota-colombia,NaN,Challenger,challenger,125,Red clay,125.0,False,False,False,False,0,2
2,11673963,121441,"Bogota, Colombia",bogota-colombia,NaN,Challenger,challenger,125,Red clay,125.0,False,False,False,False,0,2
3,11673993,121451,"Braga, Portugal",braga-portugal,NaN,Challenger,challenger,163,Red clay,75.0,False,False,False,False,0,2
4,11674000,121453,"Charleston, USA",charleston-usa,NaN,Challenger,challenger,71,Hardcourt outdoor,75.0,False,False,False,False,0,2

In [89]:
df_home_team.head()

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,11673958,Barrios Vera T.,barrios-vera-tomas,M,2915,Santiago,"Chillan, Chile",1.91,83,right-handed,2014,265608,646273,132834,103,BAR,Chile,"Barrios Vera, Tomás"
1,11673962,Tirante T.,tirante-thiago-agustin,M,1519,La Plata,"La Plata, Argentina",1.85,78,right-handed,None,249335,430793,221515,123,TIR,Argentina,"Tirante, Thiago Agustin"
2,11673963,Heide G.,heide-gustavo,M,1177,None,Sao Paulo,1.88,None,right-handed,None,36929,87230,302582,247,HEI,Brazil,"Heide, Gustavo"
3,11673993,Ajduković D.,ajdukovic-duje,M,1293,"Zagreb, Croatia","Split, Croatia",1.88,75,right-handed,None,63678,198866,207081,143,AJD,Croatia,"Ajduković, Duje"
4,11674000,Escobedo E.,escobedo-ernesto,M,680,"West Covina, CA, USA","Los Angeles, CA, USA",1.85,82,right-handed,2014,84375,1280430,80491,404,ESC,Mexico,"Escobedo, Ernesto"

In [88]:
df_event.head()

,match_id,first_to_serve,home_team_seed,away_team_seed,custom_id,winner_code,default_period_count,start_datetime,match_slug,final_result_only
0,11673958,None,1,4,JgdbspFNb,2,3,1696094700,tirante-barrios-vera,False
1,11673962,None,4,None,pFNbsHbwc,1,3,1696176000,heide-tirante,False
2,11673963,None,None,None,fTxsHbwc,1,3,1696087800,heide-jorda-sanchis,False
3,11673993,None,None,Q,axvsGQHb,2,3,1696154400,ajdukovic-roca-batalla,False
4,11674000,None,Q,WC,QjHshlKb,2,3,1696086000,crawford-escobedo,False

In [82]:
df_tournament[df_tournament['tournament_id'] == 121453]

,match_id,tournament_id,tournament_name,tournament_slug,tournament_unique_id,tournament_category_name,tournament_category_slug,user_count,ground_type,tennis_points,has_event_player_statistics,crowd_sourcing_enabled,has_performance_graph_feature,display_inverse_home_away_teams,priority,competition_type
4,11674000,121453,"Charleston, USA",charleston-usa,None,Challenger,challenger,71,Hardcourt outdoor,75,False,False,False,False,0,2
5,11674008,121453,"Charleston, USA",charleston-usa,None,Challenger,challenger,71,Hardcourt outdoor,75,False,False,False,False,0,2
6,11674011,121453,"Charleston, USA",charleston-usa,None,Challenger,challenger,71,Hardcourt outdoor,75,False,False,False,False,0,2

In [57]:
df_tournament_csv.columns

Index(['match_id', 'tournament_id', 'tournament_name', 'tournament_slug',
       'tournament_unique_id', 'tournament_category_name',
       'tournament_category_slug', 'user_count', 'ground_type',
       'tennis_points', 'has_event_player_statistics',
       'crowd_sourcing_enabled', 'has_performance_graph_feature',
       'display_inverse_home_away_teams', 'priority', 'competition_type'],
      dtype='object')

In [51]:
df_tournament_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   match_id                         764 non-null    int64
 1   tournament_id                    764 non-null    int64
 2   tournament_name                  764 non-null    object
 3   tournament_slug                  764 non-null    object
 4   tournament_unique_id             0 non-null      float64
 5   tournament_category_name         764 non-null    object
 6   tournament_category_slug         764 non-null    object
 7   user_count                       764 non-null    int64
 8   ground_type                      747 non-null    object
 9   tennis_points                    164 non-null    float64
 10  has_event_player_statistics      764 non-null    bool
 11  crowd_sourcing_enabled           764 non-null    bool
 12  has_performance_graph_feature    764 non-null    bool
 13  display_inverse_home_away_teams  764 non-null    bool
 14  priority                         764 non-null    int64
 15  competition_type                 764 non-null    int64
dtypes: bool(4), float64(2), int64(5), object(5)
memory usage: 74.7+ KB

In [52]:
df_tournament_csv.describe()

,match_id,tournament_id,tournament_unique_id,user_count,tennis_points,priority,competition_type
count,7.640000e+02,764.000000,0.0,764.000000,164.000000,764.0,764.0
mean,1.169902e+07,121710.625654,NaN,223.560209,406.097561,0.0,2.0
std,5.029278e+03,538.709546,NaN,711.361346,412.441871,0.0,0.0
min,1.167396e+07,119387.000000,NaN,2.000000,75.000000,0.0,2.0
25%,1.169901e+07,121843.000000,NaN,7.000000,100.000000,0.0,2.0
50%,1.169935e+07,121856.000000,NaN,11.000000,100.000000,0.0,2.0
75%,1.170151e+07,121870.000000,NaN,19.000000,1000.000000,0.0,2.0
max,1.170352e+07,121898.000000,NaN,3627.000000,1000.000000,0.0,2.0

In [53]:
df_tournament_csv.isna().sum()

match_id                             0
tournament_id                        0
tournament_name                      0
tournament_slug                      0
tournament_unique_id               764
tournament_category_name             0
tournament_category_slug             0
user_count                           0
ground_type                         17
tennis_points                      600
has_event_player_statistics          0
crowd_sourcing_enabled               0
has_performance_graph_feature        0
display_inverse_home_away_teams      0
priority                             0
competition_type                     0
dtype: int64

In [55]:
df_tournament_csv.nunique()

match_id                           764
tournament_id                       56
tournament_name                     55
tournament_slug                     55
tournament_unique_id                 0
tournament_category_name             5
tournament_category_slug             5
user_count                          31
ground_type                          5
tennis_points                        6
has_event_player_statistics          1
crowd_sourcing_enabled               1
has_performance_graph_feature        1
display_inverse_home_away_teams      1
priority                             1
competition_type                     1
dtype: int64

In [63]:
df_home_team.head()

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,11673958,Barrios Vera T.,barrios-vera-tomas,M,2915,Santiago,"Chillan, Chile",1.91,83,right-handed,2014,265608,646273,132834,103,BAR,Chile,"Barrios Vera, Tomás"
1,11673962,Tirante T.,tirante-thiago-agustin,M,1519,La Plata,"La Plata, Argentina",1.85,78,right-handed,None,249335,430793,221515,123,TIR,Argentina,"Tirante, Thiago Agustin"
2,11673963,Heide G.,heide-gustavo,M,1177,None,Sao Paulo,1.88,None,right-handed,None,36929,87230,302582,247,HEI,Brazil,"Heide, Gustavo"
3,11673993,Ajduković D.,ajdukovic-duje,M,1293,"Zagreb, Croatia","Split, Croatia",1.88,75,right-handed,None,63678,198866,207081,143,AJD,Croatia,"Ajduković, Duje"
4,11674000,Escobedo E.,escobedo-ernesto,M,680,"West Covina, CA, USA","Los Angeles, CA, USA",1.85,82,right-handed,2014,84375,1280430,80491,404,ESC,Mexico,"Escobedo, Ernesto"

In [65]:
df_away_team_score.head()

,match_id,current_score,display_score,period_1,period_2,period_3,period_4,period_5,period_1_tie_break,period_2_tie_break,period_3_tie_break,period_4_tie_break,period_5_tie_break,normal_time
0,11673958,2,2,6,6,None,None,None,None,None,None,None,None,None
1,11673962,None,None,None,None,None,None,None,None,None,None,None,None,None
2,11673963,0,0,6,4,None,None,None,None,None,None,None,None,None
3,11673993,2,2,4,6,6,None,None,None,None,None,None,None,None
4,11674000,1,1,6,2,None,None,None,None,None,None,None,None,None